@import 'nib'

azul_metal = #556370
celeste = #4ECDC4
rosa = #FF6B6B
rosaOscuro = #C54D57
verde = #C7F465

*
	box-sizing border-box
a
	text-decoration none
	transition all .2s ease-in

a.btn_nice
	display block

body
	font-family 'Istok Web', sans-serif
	font-size 16px

header
	background white
	overflow hidden
	max-width 1320px
	margin auto

	p
		color azul_metal
		font-size 1.4em
		font-weight bold
		padding 1em 3em
		margin 0
		top 0
		float left

	ul
		float right
		margin 0
		padding 1.7em 3em 1em 0
		vertical-align top

		li
			display inline-block
			margin-left .5em

			a
				color rosaOscuro
				height 100px
				padding .3em 1em

			a:hover
				color azul_metal

			a.active
				border-bottom 3px azul_metal solid
				color azul_metal

		li:last-child

			a
				border 2px azul_metal solid
				border-radius 5px
				background rosa
				color white

			a:hover
				background rosaOscuro

section.main
	border-top 4px celeste solid
	background-color azul_metal
	background-size cover
	min-height 570px
	
	article
		max-width 1320px

article
	margin auto
	position relative
	top 0

	figure
		display block
		position relative
		margin 4em auto 0
		width 50%

		img
			display block
			border-radius 50%
			border 3px rosaOscuro solid
			height 180px
			position relative
			z-index 5

		&:before
			background red
			border-bottom 2px rosaOscuro solid
			content ""
			left 0
			position absolute
			top 50%
			width 100%
		
				
		
	h2
		font-size 2.5em
		color white
		text-align center
		margin-bottom .5em

	p
		color white
		line-height 1.5em
		margin 1em auto
		width 58%

		strong
			color rgba(black, .1)

	div
		width 35%
		margin 4em auto 0
		
		a
			display inline-block
			border 2px celeste solid
			border-radius 5px
			color white
			padding .5em 1em
			text-align center
			width 48%

			&:hover
				background celeste

		a:nth-of-type(2)
			background celeste
			color azul_metal
			margin-left 1%
			position relative

			&:before
				border-top 10px solid celeste
				border-bottom 10px solid transparent
				border-left 10px solid transparent
				border-right 10px solid transparent
				content ""
				left 50%
				margin-left -10px
				position absolute
				top 100%

			&:hover
				color white

