@import '~@styles-variables'

h1
  font-family 'Roboto Slab', serif
  font-weight 400
  color $black_text
  margin-top 0
  font-size 56px
  margin-bottom 1rem
@media all and (min-width 768px)
  h1
    font-size 72px
    margin-bottom 2rem
h2
  font-family 'Roboto Slab', serif
  font-weight 400
@media all and (min-width 768px)
  h2
    font-size 36px
h3
  font-weight 400
  margin 0
  margin-bottom 1.5rem
@media all and (min-width 768px)
  h3
    font-size 22px

p
  font-size 400
  color $black_text_light
  font-size 14px
  line-height 26px
@media all and (min-width 1024px)
  p
    font-size 18px
    line-height 34px
  
