a
  text-decoration none
.item-work
  display flex
  align-items center
  justify-content center
  min-height 200px
  position relative
  transition all .3s linear .15s
  overflow hidden
  img
    width 100%
    // margin-bottom -3px
    opacity 1
    transition .3s all linear
  span
    position absolute
    background-color color
    color white
    font-weight 700
    letter-spacing 2px
    font-size 12px
    opacity 0
    transform scale(1.05)
    transition .3s all linear .15s
    i
      margin-left .15rem
      position relative
      top 1px
.item-work:hover
  background-color black !important
  img
    opacity 0
    transform scale(1.05)
  span
    opacity 1
    transform scale(1)
@media all and (min-width 1080)
  .item-work
    min-width 698px;
    