@keyframes mobileMenu
	from
		opacity 0
		transform translateY(5px)
	to
		transform translateY(0)
		opacity 1

@keyframes showHeaderMenu
	from
		opacity 0
		transform translateY(5px)
	to
		transform translateY(0)
		opacity 1
@keyframes hideHeaderMenu
	from
		transform translateY(0)
		opacity 1
	to
		opacity 0
		transform translateY(5px)

@keyframes showPage
	from
		opacity 0
	to
		opacity 1
@keyframes hidePage
	from
		opacity 1
	to
		opacity 0
