.main-card
    display flex
    flex-direction column
    min-height calc(100vh - 66px)
.main-card__desc
    padding 3rem 4rem
    background-color white
    flex 1
    display flex
    align-items center
    justify-content center
    h1
        margin 0
        font-family 'Expletus Sans', cursive
        font-size 1.4rem
        text-align center
        line-height 1.9rem
    h2
        font-size 1.15rem
        margin 0
        background-color black_
        color white
        display inline-block
        padding .5rem 1.1rem
        margin-bottom 2.5rem
        letter-spacing 1px
.main-card__else
    padding 3rem 2rem
    flex 3
    display flex
    align-items center
    justify-content center

@media all and (min-width 768px)
    .main-card
        min-height calc(100vh - 100px)
    .main-card__desc
        flex 3
        h1
            font-size 1.8rem
            line-height 2.8rem
        h2
            font-size 1.4rem
            margin-bottom 3.5rem
@media all and (min-width 1200px)
    .main-card
        flex-direction row
        padding 4rem 7rem
        max-width 1200px
        margin-left auto
        margin-right auto
    .main-card__desc
        margin-right 7rem
        max-width 720px
        h1
            font-size 2.15rem
            line-height 3.2rem
        h2
            margin-bottom 5rem
    .main-card__else
        padding 0
        flex 1
@media all and (min-height 800px)
    .main-card
        align-items center
    .main-card__desc
        min-height 600px

.lines-animated
    min-height 164px
    display flex
    justify-content stretch
    justify-content center
    position relative

    span
        background-color white
        min-width 8px
        margin-right 1.1rem
        position relative
        box-shadow 0 0 10px rgba(pink_, .3)
    span:last-child
        margin-right 0
    span:nth-child(3)
    span:nth-child(6)
        background-color pink_
        box-shadow 0 0 2px rgba(black_, .3)
        
    span:nth-child(2)
    span:nth-child(4)
    span:nth-child(6)
        animation lineMove 3s ease-out
        // animation-timing-function cubic-bezier(.16,.66,.58,.41)
        animation-fill-mode forwards
        animation-delay 2s
    span:nth-child(4)
        animation-delay 2.3s
    span:nth-child(6)
        animation-delay 2.8s
    span:nth-child(1)
    span:nth-child(3)
    span:nth-child(5)
        animation lineMoveO 3.5s ease-in
        // animation-timing-function cubic-bezier(.16,.66,.58,.41)
        animation-fill-mode forwards
        animation-delay 2.5s
    span:nth-child(3)
        animation-delay 2.7s
    span:nth-child(5)
        animation-delay 3s

@media all and (min-width 768px)
    .lines-animated
        min-height 250px
        span
            min-width 10px
            margin-right 1.5rem


.main-nav
    flex 1
    display flex
    position relative
    top 3px
    padding 1rem 4rem
    justify-content space-between
    a
        margin-right 1rem
        font-family 'Expletus Sans', cursive
        text-align center
        font-weight 500
        text-decoration none
        color white
        position relative
        &:after
            content ''
            border-bottom 4px solid transparent
            position absolute
            width 40%
            left 30%
            top 100%
            transition all .2s linear
    a:hover
        &:after
            border-bottom-color white
    a:last-child
        margin-right 0
    a.active
        &:after
            border-bottom-color white

@media all and (min-width 768px)
    .main-nav
        a
            font-size 1.15rem

.nav-header
    flex 1
    display flex
    justify-content space-between
    align-items center
    padding 1rem 2.5rem
    figure
        margin 0
        img
            position relative
            top 3px
            max-width 130px
            
@media all and (min-width 768px)
    .nav-header
        figure
            img
                max-width 182px

.main-nav-mobile
    & > a
        position relative
        height 20px
        width 40px
        display block
        span
            position absolute
            height 2px
            width 40px
            left 0
            background-color white
            margin-bottom 1rem
            top 0
            transition all .3s linear
        span:last-child
            margin-bottom 0
            top 100%
.main-nav-mobile__menu
    display none
    position fixed
    height calc(100% - 66px)
    width 100%
    background-color rgba(black, .9)
    left 0
    top 66px
    z-index 5
    flex-direction column
    align-items center
    justify-content center
    a
        font-family 'Expletus Sans', cursive
        font-size 1.8rem
        margin-bottom 4.5rem
        text-decoration none
        color white
    a.active
        color pink_
    a:last-child
        margin-bottom 0
.main-nav-mobile.active
    & > a
        span
            top 50%
            transform rotate(-45deg)
        span:last-child
            transform rotate(45deg)
    .main-nav-mobile__menu
        animation mobileMenu .3s linear
        display flex
        
@media all and (min-width 768px)
    .main-nav-mobile__menu
        height calc(100% - 100px)
        top 100px

// BUTTONS
.button
    display block
    padding 1rem
    border 2px solid black_
    letter-spacing 2px
    text-align center
    font-weight 600
    text-decoration none
    color black_

.button--white
    border-color white
    color white

.link
    color black_

.link-icon
    text-decoration none
    font-size 2rem
    color black_


// WRAPPERS
.wrapper
    padding 0 3rem
.wrapper-small
    padding 0 1.35rem


// CARDS

.card-about-me__picture
    margin-top 1rem
    padding 3rem 2rem
    figure
        margin auto
        height 121px
        width 121px
        background-color white
        border-radius 50%
        
@media all and (min-width 768px)
    .card-about-me
        display flex
        align-items center
        max-width 550px
        margin auto
    .card-about-me__desc
        flex 1
        p
            max-width 300px
            margin-left auto
            margin-right auto
    .card-about-me__picture
        flex 1
        margin-top 0
        figure
            margin initial
            margin-left auto

.card-what-can-i-do__design
    background-color white
    padding 4rem 3rem
.card-what-can-i-do__developer
    padding 4rem 3rem
.card-what-can-i-do__img
     margin 0
     margin-top 4rem
     img
         max-width 100%
         
@media all and (min-width 768px)
    .card-what-can-i-do
        display flex
    .card-what-can-i-do__design
        flex 1
    .card-what-can-i-do__developer
        flex 1
    .p-margin-2
        margin-bottom 3rem
    .card-what-can-i-do__img
        margin-top 5rem
        margin-bottom 2rem
        

.card-contact__desc
    margin-bottom 4rem
.card-contact__networks
    padding 3rem 2rem
    background-color white

    .button
        width 90%
        max-width 145px
        margin auto
    
    .networks__made
        margin-top 6rem

    .networks__socials
        text-align center
        .link-icon
            margin-right 1rem
        .link-icon:last-child
            margin-right 0

    .networks__by
        line-height 1.45rem
        color rgba(black_, .7)
        .icon-hearth
            position relative
            top 1px
        .icon-flag
            margin-left .3rem
@media all and (min-width 768px)
    .card-contact
        display flex
        justify-content center
        min-height calc(100vh - 100px - 228px)
    .card-contact__desc
        flex 1
        margin-bottom 0
        max-width 260px
        margin-right 5rem
        padding-top 13rem
        p
            margin-left auto
            margin-right auto
    .card-contact__networks
        padding-top 5rem
        flex 1
        max-width 271px
        display flex
        flex-direction column
        justify-content space-between
        


.card-work
    p
        margin-top 4rem
        margin-bottom 6rem
    .button
        width 90%
        max-width 145px
        margin auto
@media all and (min-width 768px)
    .card-work
        min-height calc(100vh - 100px - 228px)
        display flex
        justify-content center
        align-items center
        flex-direction column
        p
            max-width 270px
            margin initial
            margin-top 0
            margin-bottom 6rem
        .button
            margin initial
            margin-bottom 12rem