html
	font-size 14px
body
	font-family 'Noto Sans', sans-serif
	font-weight 400
	color black_

.full-page
	min-height 100vh
	background-color black_
.full-page--center
	display flex
	& > *
		margin auto
.full-page--with-header
	margin-top 66px
	min-height calc(100vh - 66px)
.full-page--with-footer
	min-height calc(100vh - 66px)
@media all and (min-width 768px)
	.full-page--with-header
		margin-top 100px
		min-height calc(100vh - 100px)
	.full-page--with-footer
		min-height calc(100vh - 100px)

.main-header
	height 66px
	background-color pink_
	display none
	align-items center
	position fixed
	width 100%
	z-index 4
	left 0
	top 0
	transition all .3s linear
@media all and (min-width 768px)
	.main-header
		height 100px
.main-header.active
	animation showHeaderMenu .3s linear
	display flex
.main-header.inactive
	animation hideHeaderMenu .3s linear
.main-footer
	background-color pink_
	height 66px
	display flex
	align-items center
	justify-content center
	nav
		max-width 550px
		
@media all and (min-width 768px)
	.main-footer
		height 100px

.container-toggle
	display none
.container-toggle.active
	display block
	animation showPage .3s linear
.container-toggle.inactive
	animation hidePage .3s linear

body.active-nav
	overflow-y hidden
	.main-header
		background-color black
