p
    margin 0
.p-small
    font-size .85rem
.p-margin-1
    margin-bottom 1rem
.p-margin-2
    margin-bottom 2rem
.p-margin-2_5
    margin-bottom 2.5rem
.p-margin-3
    margin-bottom 3rem

.p-white
    color white
.p-black
    color black_
.p-pink
    color pink_
.p-red-peru
    color red_peru
.p-grey
    color black_grey

.p-center
    text-align center

.p-desc
    font-size 1.15rem
    line-height 1.8rem
@media all and (min-width 768px)
    .p-desc
        line-height 2.1rem
@media all and (min-width 1200px)
    .p-desc
        font-size 1.4rem
        line-height 2.6rem
.title
    font-size 1.4rem
    font-family 'Expletus Sans', cursive
    text-align center
    padding 4rem 1rem
    color white
    font-weight 500
    span
        position relative
        background-color black_
        padding .3rem .5rem
        &:before
        &:after
            content ''
            position absolute
            border-top 1px solid black_grey
            top calc(50% - 2px)
            width 36px
            left calc(100% + .5rem)
        &:after
            left calc(-36px - .5rem)

@media all and (min-width 768px)
    .title
        font-size 1.7rem
        padding 7rem 1rem
@media all and (min-width 1200px)
    .title
        padding 11rem 1rem
        font-size 2.15rem

.title-alter
    font-family 'Expletus Sans', cursive
    font-size 1.4rem
    letter-spacing 3px
    color black_grey
@media all and (min-width 1200px)
    .title-alter
        font-size 1.85rem


hr.hr
    width 40%
    margin auto
    border-color rgba(black_, .15)
    // position relative
    // &:after
    //     content ''
    //     border-top 4px solid rgba(black_, .15)
    //     border-left 6px solid transparent
    //     border-right 6px solid transparent
    //     position absolute
    //     top calc(100% + 1px)
    //     left calc(50% - 6px)
        
