
<header id="main-header-nav" class="main-header">
    <nav class="nav-header">
        <figure><a href="#" gl-goto="home"><img src="/img/logo.png" alt="JKStayner"></a></figure>
        <div id="menu-mobile" class="main-nav-mobile">
            <div class="main-nav-mobile__menu" gl-nav>
                <a href="#" data-where="home">HOME</a>
                <a href="#" data-where="about">ABOUT</a>
                <a href="#" data-where="work">WORK</a>
                <a href="#" data-where="contact">CONTACT</a>
            </div>
            <a href="#" gl-toggle="menu-mobile">
                <span></span>
                <span></span>
            </a>
        </div>
    </nav>
</header>

<div class="container-toggle" container="about">

<div class="full-page full-page--with-header">

    <p class="title"><span>ABOUT ME</span></p>

    <div class="wrapper">
        <div class="card-about-me">
            <div class="card-about-me__desc">
                <p class="p-desc p-center p-white p-margin-1">Hi, I’m J. Klyneker if you like just call me J and I’m a web designer / developer based on Lima Perú.</p>
                <p class="p-desc p-center p-white">I like to do greatest things, building cross platforms apps always with the user experience on mind and their satisfaction using it.</p>
            </div>
            <div class="card-about-me__picture">
                <figure></figure>
            </div>
        </div>
    </div>

    <p class="title"><span>WHAT CAN I DO</span></p>

    <div class="card-what-can-i-do">
        <div class="card-what-can-i-do__design">
            <div>
                <p class="title-alter p-margin-2">DESIGNER</p>
                <div class="wrapper-small">
                    <p class="p-desc p-center p-black">Design what you want for all devices available, I hear once: <i class="p-grey">say only what you need to say</i>, so I focus on what message want to send and just what the user have to do and a easier way.</p>
                </div>
                <figure class="card-what-can-i-do__img">
                    <img src="/img/designer.png" alt="designer">
                </figure>
            </div>
        </div>
        <div class="card-what-can-i-do__developer">
            <div>
                <p class="title-alter p-margin-2">DEVELOPER</p>
                <div class="wrapper-small">
                    <p class="p-desc p-center p-white">I’m a developer too, so I know how to make it real that designs, usign the latest technology available. Writing clean scalable and maintanable code.</p>
                </div>
                <figure class="card-what-can-i-do__img">
                    <img src="/img/developer.png" alt="developer">
                </figure>
            </div>
        </div>
    </div>

</div>

</div>
