<div class="container-toggle" container="contact">

<div class="full-page full-page--with-header">

    <p class="title"><span>CONTACT</span></p>

    <div class="wrapper">
        <div class="card-contact">
            <div class="card-contact__desc">
                <p class="p-desc p-center p-white">If you like my work, you can put in touch with me.</p>
            </div>
            <div class="card-contact__networks">
                <div class="networks__contact">
                    <p class="p-grey p-center p-margin-2">through my email</p>

                    <p class="p-desc p-center p-margin-2">liamklyneker@gmail.com</p>

                    <a href="mailto:liamklyneker@gmail.com" class="button">MESSAGE ME</a>

                    <br><br><br>

                    <p class="p-grey p-center p-margin-2">also through this networks n.n</p>


                    <div class="networks__socials">
                        <a href="https://dribbble.com/LiamKlyneker" target="_blank" class="link-icon"><i class="icon icon-dribbble"></i></a>
                        <a href="https://www.linkedin.com/in/liamklyneker/" target="_blank" class="link-icon"><i class="icon icon-linkedin"></i></a>
                        <a href="https://www.instagram.com/liamklyneker/" target="_blank" class="link-icon"><i class="icon icon-instagram"></i></a>
                        <a href="https://twitter.com/@liamklyneker" target="_blank" class="link-icon"><i class="icon icon-twitter"></i></a>
                    </div>
                </div>
                <div class="networks__made">
                    <hr class="hr">
                    <br><br>
                    <p class="p-small p-center p-margin-1 networks__by">Design and code by me with <i class="icon icon-hearth p-pink"></i> <br>in Perú <i class="icon icon-flag p-red-peru"></i></p>
                    <p class="p-small p-center">© <b>2017</b> <a href="#" class="link" gl-goto="home">J. Klyneker</a> - All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
