<div class="container-toggle" container="home">

<div class="full-page full-page--with-footer">
    <article class="main-card">
        <div class="main-card__desc">
            <div>
                <h2>J. KLYNEKER</h2>
                <h1>UI/UX DESIGNER <br> & <br> CREATIVE FRONT END DEVELOPER</h1>
            </div>
        </div>
        <div class="main-card__else">
            <article class="lines-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </article>
        </div>
    </article>

</div>
<footer class="main-footer">
    <nav class="main-nav" gl-nav>
        <a href="#" data-where="about">ABOUT</a>
        <a href="#" data-where="work">WORK</a>
        <a href="#" data-where="contact">CONTACT</a>
    </nav>
</footer>

</div>
