@keyframes animateLogo
	0%
		opacity 1
	50%
		opacity 0
	100%
		opacity 1
@keyframes introHeader
	from
		opacity 0
		transform translateY(-10px)
	to
		opacity 1
		transform translateY(0)
@keyframes hideBack
	from
		opacity 1
		transform scale(1)
	to
		opacity 0
		transform scale(1.1)

@keyframes circleAround1
	0%
		transform scale(.1)
		opacity 0
	40%

		opacity .6
	80%
		opacity .6
	100%
		transform scale(.5)
		opacity 0
@keyframes circleAround2
	0%
		transform scale(.3)
		opacity 0
	25%

		opacity .6
	75%
		opacity .6
	100%
		transform scale(1.4)
		opacity 0
@keyframes circleAround3
	0%
		transform scale(.8)
		opacity 0
	30%

		opacity .6
	80%
		opacity .6
	100%
		transform scale(1.7)
		opacity 0
@keyframes circleAround4
	0%
		transform scale(.3)
		opacity 0
	22%
		opacity .6
	70%
		opacity .6
	100%
		transform scale(.9)
		opacity 0
@keyframes navIn
	from
		opacity 0
		transform scale(.99)
	to
		opacity 1
		transform scale(1)