a
	text-decoration none

button
	cursor pointer
	outline none
	-webkit-appearance none
	-moz-appearance none
	background-color transparent
	border 0
	padding 0
	border-radius 0
// a.button, button.button
// 	border 2px solid white
// 	height 35px
// 	padding .3rem 1.7rem
// 	display flex
// 	justify-content center
// 	align-items center
// 	text-align center
// 	font-size .85rem

// a.button.link, button.button.link
// 	border 0

.button-hamburguer
	width 32px
	height 17px
	position relative
	z-index 101
	span
		position absolute
		height 1px
		width 33px
		top 0
		left 0
		display block
		background-color white
		transition .2s all ease-in
	span:last-child
		top calc(100% - 2px)
		margin-bottom 0
.button-hamburguer.active
	span
		top 50%
		left calc(50% - (32px / 2))
	span:first-child
		transform rotate(-45deg)
	span:last-child
		transform rotate(-135deg)

.button-more
	margin-top 6rem
	margin-left auto
	margin-right auto
	font-family 'Expletus Sans', serif
	font-weight 400
	color white
	display block
@media all and (min-width 700px)
	.button-more
		margin-top 4rem

.button-send
	font-size .9rem
	font-weight 400
	color $purple
	transition .1s all
	i
		position relative
		top 2px
		margin-left .4rem
		font-size 1.1rem
		transition .1s all
.button-send:hover
	color $purple_hover
	i
		margin-left .6rem

.link-external
	font-size .9rem
	color $grey_text
	font-weight 300
	i
		transition all .15s linear
		margin-left .3rem
		position relative
		top 4px
		font-size 1.2rem
.link-external:hover
	color $purple
	i
		margin-left .6rem
@media all and (min-width 1200px)
	.link-external
		font-size 1rem
