.main-loader
	position fixed
	z-index 1000
	left 0
	top 0
	height 100vh
	width 100%
	background-color black
	display flex
	align-items center
	justify-content center
	figure
		max-width 80px
		display flex
		align-items flex-end
		img
			width 100%
			margin-right .5rem
		span
			display inline-block
			height 2px
			background-color white
			min-width 18px
			animation 'animateLogo' 1.8s linear infinite

@media all and (min-width 700px)
	.main-loader
		figure
			max-width 120px
			span
				min-width 27px

.main-loader.hide
	animation 'hideBack' .6s ease-out

.antennas
	display none
	position absolute
	top 100px
	right 30px
	article.svg:nth-child(2)
		margin-top 9rem
	article.svg:nth-child(3)
		margin-top 4rem
@media all and (min-width 1200px)
	.antennas
		display flex
article.svg
	margin-right 74px
	position relative
	.circle
		display block
		height 21px
		width 21px
		border-radius 50%
		background-color $purple
	.halo
		border 1px solid $purple
		height 43px
		width 43px
		border-radius 50%
		position absolute
		top -11px
		left -11px
	.line
		position absolute
		width 2px
		background-color $purple
		height 100vh
		left 9px
		&:after
			content ''
			position absolute
			width 4px
			height 4px
			border-radius 50%
			top 100%
			left -1px
			background-color $purple

.item-work
	background-color white
	padding 3rem 2rem
	padding-bottom 5rem
	margin-bottom 4rem
	figure
		margin 0
		margin-bottom 2.5rem
		img
			width 100%
.item-work__title
	color $black_text
	font-size 1.43rem
	font-weight 700
	margin 0
	margin-bottom 1rem
.item-work__role
	color $grey_text_alter
	margin 0
	font-weight 300
	margin-bottom 1.5rem
	&:before
		content ''
		width 20px
		border-bottom 2px solid $grey_text_alter
		display inline-block
		position relative
		top -4px
		margin-right .4rem
.item-work__description
	margin 0
	color $black_text
	font-size .9rem
	line-height 1.9
	margin-bottom 2.5rem

@media all and (min-width 700px)
	.item-work
		padding 5rem 3rem
		padding-bottom 6rem
		& > div
			align-items center
			display flex
			// max-width "calc(%s + 6rem)" % $max_width
			max-width $max_width
			margin-left auto
			margin-right auto
		figure
			margin-right 2rem
			margin-bottom 0
			img
				width 340px
	.item-work__description
		max-width 367px
@media all and (min-width 1200px)
	.item-work
		figure
			margin-right 6.25rem
			img
				width 532px
	.item-work__title
		font-size 2rem
	.item-work__role
		font-size 1.43rem
		margin-bottom 2rem
		&:before
			top -7px
			width 30px
		
	.item-work__description
		font-size 1rem
		line-height 2
		margin-bottom 5rem
