.main-loader
	position fixed
	z-index 1000
	left 0
	top 0
	height 100vh
	width 100%
	background-color black
	display flex
	align-items center
	justify-content center
	figure
		max-width 120px
		display flex
		align-items flex-end
		img
			width 100%
			margin-right .5rem
		span
			display inline-block
			height 2px
			background-color white
			min-width 27px
			animation 'animateLogo' 1.4s linear infinite
.main-loader.hide
	animation 'hideBack' .3s ease-out
@keyframes animateLogo
	0%
		opacity 1
	50%
		opacity 0
	100%
		opacity 1
@keyframes hideBack
	from
		opacity 1
		transform scale(1)
	to
		opacity 0
		transform scale(1.1)
