.main-loader
	position fixed
	z-index 1000
	left 0
	top 0
	height 100vh
	width 100%
	background-color black
	display flex
	align-items center
	justify-content center
	figure
		max-width 80px
		display flex
		align-items flex-end
		img
			width 100%
			margin-right .5rem
		span
			display inline-block
			height 2px
			background-color white
			min-width 18px
			animation 'animateLogo' 1.8s linear infinite

@media all and (min-width 700px)
	.main-loader
		figure
			max-width 120px
			span
				min-width 27px

.main-loader.hide
	animation 'hideBack' .6s ease-out
