/* latin */
@font-face
    font-family 'Oxygen'
    font-style normal
    font-weight 300
    src url(../src/assets/fonts/Oxygen-Light.ttf) format('truetype')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+221

/* latin */
@font-face
    font-family 'Oxygen'
    font-style normal
    font-weight 400
    src url(../src/assets/fonts/Oxygen-Regular.ttf) format('truetype')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

/* latin */
@font-face
    font-family 'Oxygen'
    font-style normal
    font-weight 700
    src url(../src/assets/fonts/Oxygen-Bold.ttf) format('truetype')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215


/* latin */
@font-face
    font-family 'Expletus Sans'
    font-style normal
    font-weight 400
    src url(../src/assets/fonts/ExpletusSans-Regular.ttf) format('truetype')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+221

/* latin */
@font-face
    font-family 'Expletus Sans'
    font-style normal
    font-weight 600
    src url(../src/assets/fonts/ExpletusSans-SemiBold.ttf) format('truetype')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

/* latin */
@font-face
    font-family 'Expletus Sans'
    font-style normal
    font-weight 700
    src url(../src/assets/fonts/ExpletusSans-Bold.ttf) format('truetype')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215
