@font-face
    font-family 'icomoon'
    src url('../src/assets/fonts/icons.eot?zbk7pz')
    src url('../src/assets/fonts/icons.eot?zbk7pz#iefix') format('embedded-opentype'),
        url('../src/assets/fonts/icons.ttf?zbk7pz') format('truetype'),
        url('../src/assets/fonts/icons.woff?zbk7pz') format('woff'),
        url('../src/assets/fonts/icons.svg?zbk7pz#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"], [class*=" icon-"]
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    /* Better Font Rendering =========== */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-arrow-down:before
    content: "\e900"
.icon-arrow-left:before
    content: "\e901"
.icon-arrow-right:before
    content: "\e902"
.icon-arrow-up:before
    content: "\e903"
.icon-linkedin:before
    content: "\e9eb"
.icon-dribbble:before
    content: "\e9e9"
.icon-instagram:before
    content: "\e9ea"
.icon-time:before
    content: "\e9f7"
.icon-twitter:before
    content: "\e9f8"
.icon-heart:before
    content: "\e904"
.icon-flag:before
    content: "\e905"
    color #F30D0D
