// Oxygen
// 300 light
// 400 Regular
// 700 Bold

// Expletus
// 400 Regular
// 600 Semibold
// 700 Bold

*
	box-sizing border-box

html
	font-family 'Oxygen', sans-serif
	font-size 16px
	font-weight 300
	color white
body
	background-color black
	overflow-x hidden

// main.normal
main
	animation showSection .3s ease-out
	// padding-bottom 4rem
// @media all and (min-width 1200px)
// 	main
// 		padding-bottom 6rem
.main-wrapper
	margin-top 105px
	position relative
	& > div
		padding 1.5rem 2rem
		padding-bottom 4rem
		margin-left auto
		margin-right auto
		// margin-bottom 4rem
		max-width "calc(%s + 10rem)" % $max_width
		min-height calc(100vh - 105px)
		animation showSection .3s ease-out
	&:before
		content ''
		position absolute
		z-index 1
		left 0
		top 0
		height 100%
		width 70%
		background-color $black_text
	& > div
		position relative
		z-index 2
@keyframes showSection
	0%
		transform translateY(10px)
		opacity 0
	100%
		transform translateY(0)
		opacity 1
@media all and (min-width 1024px)
	.main-wrapper
		margin-top 158px
		& > div
			min-height calc(100vh - 158px)
			padding 4rem 5rem
			padding-bottom 12rem
		&:before
			width 53%
.main-wrapper.normal
	min-height auto
.main-wrapper.full
	max-width 100%
	padding 0
.main-wrapper__content
	padding 1.5rem 3rem
	max-width "calc(%s + 6rem)" % $max_width
	margin-left auto
	margin-right auto
.main-wrapper.white
	background-color white
