@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:400,600,700|Oxygen:300,400,700')
// Oxygen
// 300 light
// 400 Regular
// 700 Bold

// Expletus
// 400 Regular
// 600 Semibold
// 700 Bold

*
	box-sizing border-box

html
	font-family 'Oxygen', sans-serif
	font-size 14px
	color white
body
	background-color black
	overflow-x hidden
	
// main.normal
	
.main-wrapper
	padding 1.5rem 2.8rem
	margin-left auto
	margin-right auto
	max-width "calc(%s + 5.6rem)" % $max_width
	
	
	
	