// @import url('https://fonts.googleapis.com/css?family=Expletus+Sans:400,600,700|Oxygen:300,400,700')
// Oxygen
// 300 light
// 400 Regular
// 700 Bold

// Expletus
// 400 Regular
// 600 Semibold
// 700 Bold

*
	box-sizing border-box

html
	font-family 'Oxygen', sans-serif
	font-size 14px
	font-weight 300
	color white
body
	background-color black
	overflow-x hidden

// main.normal

.main-wrapper
	padding 1.5rem 3rem
	margin-left auto
	margin-right auto
	max-width "calc(%s + 6rem)" % $max_width
	min-height calc(100vh - 95px)
	animation 'showSection' .3s ease-out
@keyframes showSection
	0%
		transform translateY(10px)
		opacity 0
	100%
		transform translateY(0)
		opacity 1
@media all and (min-width 1024px)
	.main-wrapper
		min-height calc(100vh - 142px)
.main-wrapper.normal
	min-height auto
.main-wrapper.full
	max-width 100%
	padding 0
.main-wrapper__content
	padding 1.5rem 3rem
	max-width "calc(%s + 6rem)" % $max_width
	margin-left auto
	margin-right auto
.main-wrapper.white
	background-color white
