h2
	font-size 2.8rem
	font-family 'Expletus Sans', serif
	color rgba(white, .5)
	font-weight 700
	margin 0
	letter-spacing .8px
	margin-bottom 2.4rem
@media all and (min-width 1300px)
	h2
		font-size 7rem
		letter-spacing 2px

h3
	font-family 'Expletus Sans', serif
	font-size 2.1rem
	font-weight 700
	margin 0
	margin-bottom .3rem
	letter-spacing .6px
@media all and (min-width 1300px)
	h3
		font-size 3.2rem
h4
	font-family 'Expletus Sans', serif
	font-size 1.2rem
	font-weight 700 
	margin 0
	margin-bottom .5rem
	letter-spacing 3.6px
@media all and (min-width 1300px)
	h4
		font-size 1.45rem
p.p-main
	font-size 1.15rem
	line-height 2.3rem
	font-weight 300
	margin 0
	margin-bottom 1.5rem
@media all and (min-width 1300px)
	p.p-main
		font-size 1.7rem
		line-height 3.2rem
		margin-bottom 3rem
		
p.p-secondary
	line-height 2rem
	font-weight 300
	margin 0
	margin-bottom 1rem
@media all and (min-width 1300px)
	p.p-secondary
		font-size 1.4rem
		line-height 2.5rem