h1
	font-size 2rem
	line-height 1.5
	font-weight 300
@media all and (min-width 700px)
	h1
		font-size 2.71rem
		line-height 4rem
@media all and (min-width 1200px)
	h1
		font-size 4rem
		line-height 5rem
		
h2
	font-size 2.5rem
	font-family 'Expletus Sans', serif
	color rgba(white, .5)
	font-weight 700
	margin 0
	letter-spacing .8px
	margin-bottom 2.4rem
@media all and (min-width 700px)
	h2
		font-size 5rem
		margin-bottom 3.5rem

h3
	font-family 'Expletus Sans', serif
	font-size 1.92rem
	font-weight 700
	margin 0
	margin-bottom .3rem
	letter-spacing .6px
@media all and (min-width 1024px)
	h3
		font-size 3.21rem
h4
	font-family 'Expletus Sans', serif
	font-size 1rem
	font-weight 700
	margin 0
	margin-bottom .5rem
	letter-spacing 3.6px
@media all and (min-width 1024px)
	h4
		font-size 1.42rem
p.p-main
	font-size 1.42rem
	line-height 2.5rem
	font-weight 300
	margin 0
	margin-bottom 2.42rem
@media all and (min-width 1024px)
	p.p-main
		font-size 2.28rem
		line-height 4.28rem
		margin-bottom 2.57rem

p.p-secondary
	font-size 1.14rem
	line-height 2rem
	font-weight 300
	margin 0
	margin-bottom 2rem
	a
		text-decoration underline
		color white
		transition .1s all linear
	a:hover
		color $purple
p.p-secondary.p-black
	a
		color $grey_text
	a:hover
		color $purple
@media all and (min-width 1024px)
	p.p-secondary
		font-size 1.71rem
		line-height 3.1rem
		margin-bottom 2.57rem

hr
	border 0
	border-bottom 1px solid $grey_text
	max-width 142px
	margin 3.14rem 0
	margin-bottom 4rem
@media all and (min-width 1024px)
	hr
		margin 4.28rem 0
		margin-bottom 5rem
// Colors
.p-grey
	color $grey_text
	& > span
		color white
	& > b
		font-weight 400
.p-black
	color black
.p-purple
	color $purple
